
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
$primary:#FFF;

.navbar-laravel {
  background-color: $primary;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

a{
	transition:.2s
}