
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
$primary:#FFF;

.navbar-laravel {
  background-color: $primary;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

a{
	transition:.2s
}



/// my css
.justify-content-center{
	display:flex;
	justify-content:center;
	height:calc(100vh - 60px);
	align-items:center;
}

.card{
	padding:30px 20px;

	.card-header{

		font-size:1.5em;
		text-align:ceter;
		font-weight:bold;
	}
}
